.postForm{
  text-align: center ;
  
}
p {
  font-size: 18px;
  font-family: monospace;
  color: navy;
}

label{
    font-size: 14px;
    font-family: monospace;
    color: navy;
}
.form {
    margin: auto;
    height: 430px;
    width: 300px;
    border-radius: 5px;
    background-color: rgb(198, 198, 199);
    padding: 30px;
}


.select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

/* input file */

.chooseFile {
  width: 85%;
  background-color: navy;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.chooseFile::-webkit-file-upload-button {
  visibility: hidden;
}

.chooseFile::before {
  content: 'Select file';
  font-size: 12px;
  font-family: monospace;
}

.chooseFile:hover{
  color: rgb(66, 66, 224);
}

.submit {
  width: 100%;
  background-color: navy;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  font-family: monospace;
}

.submit:hover {
  background-color: rgb(1, 1, 53);
}

